/*#gray, light purple, darker purple, dark purple
#light orange, light blue, light green
primary <- c('#D3D3D3', '#8C82FA', '#6408A1','#31044F')
secondary <- c('#ED9007','#14E5D0', '#B0EE31')*/

body{
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
}

.row {
  display:flex;
  padding-left: 25px;
  padding-right: 25px;
}

.row-bar{
  display:flex;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
}

.column-bar{
    flex: 30%;
}
.column{
  flex: 50%;
  padding: 10px;
}

.map-container{
  padding-bottom: 25px;
}

h1, h2, h3 {
  font-family: Helvetica, Helvetica, sans-serif;
  color: black;
  size: 16;
  text-align: center;
}

/* h3 {
  font-family: Helvetica, Helvetica, sans-serif;
  color: black;
  size: 16;
  text-align: center;
  padding: 0px;
  margin: 0px;
  padding-bottom: 10px;
} */



/*Referenced: https://codepen.io/ericrasch/pen/zjDBx */
.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 200px;
   background-color: #f1f1f1;
   font-family: Helvetica;
   display: inline-block;
   position: relative;
   left: 15px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 15px;
   height: 29px;
   padding: 5px;
   width: 300px;
   font-family: Helvetica;
}

.styled-select.slate {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 150px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 20px;
   height: 34px;
   width: 268px;
}

.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}






.title{
  font-family: Helvetica, Helvetica, sans-serif;
  color: black;
  size: 10;
}

.pos-absolute {
  position: absolute;
  top: 12%;
  left: 30%;
}

.z-index-2 {
  z-index: 2;
}

/* TODO double check for redundancy */
.img-container,
.inner-container {
  width: 100%;
  text-align: center;
}

#banner {
  height: 400px;
  width: 100%;
  /* background-color: #cccccc; */
  background-image: url('./b4.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  padding:0px;
}

fieldset{
  border: none;
  font-family: Helvetica, Helvetica, sans-serif;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-top: 15px;
}


.legend{
  font-weight: bold;
  float: left;
  margin: 0;
  padding-top: 20px;
  font-size: 20px;
}

.info{
  font-weight: bold;
  float: left;
  margin: 0;
  padding-top: 20px;
  font-size: 12px;
  border: 1px solid black;
  padding:10px;
  background-color: white;
}

.legend-drop{
  padding-bottom: 25px;
  padding-left: 15px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 20px;
}


/* .info {
  border: 1px solid black;
  padding:10px;
  background-color: white;
} */

.map-circle{
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-top: 8px;
  size:2px;
}

p {
  font-family: Helvetica, Helvetica, sans-serif;
  padding-left: 45px;
  padding-right: 45px
}


#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  position: absolute;
  left: 75%;
  top: 125%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: -75px 0 0 -75px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}


th, td {
  border: 1px solid white;
  border-collapse: collapse;
  text-align: center;
  width: 1%;
  font-size: 18px;
  font-family: Helvetica;
}

th {
  border: 3px solid white;
  background-color: #f5f5f5;
}

tr:hover {background-color: #f5f5f5;}


.district{
  fill: #31044F;
  stroke: white
}

.circle-blight {
  fill: #FF4B1E;
  opacity: 0.65;
}

.circle-dem {
  fill: #133090;
  opacity: 0.65;
}

.circle-sale {
  fill: #59AB00;
  opacity: 0.65;
}

div.tooltip, div.tooltip-b {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    font-family: Helvetica;
    background: #f5f5f5;
    border: black 2px;
    pointer-events: none;
}

.hovered {
    cursor: pointer;
    opacity: 1.0;
    fill: #E80C94;
}

.table-title{
  position: relative;
}

.statsTable{
  position: absolute;
  font-family: Helvetica;
  font-size: 16px;
  padding: 0px;
}

.barchart-s{
  display: block;
  margin: auto;
}

/*referenced: http://www.tipue.com/blog/radio-checkbox/ */
.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;
     margin-right: 7px;
     outline: none;
     padding-left: 15px;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked
{
     background-color: #f1f1f1;
}


.dot-type
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 3px;
     cursor: pointer;
     margin-right: 7px;
     outline: none;
}
.dot-type:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.dot-type:hover
{
     background-color: #f7f7f7;
}
.dot-type:checked
{
     background-color: #f1f1f1;
}

.drop{
  position: relative;
  font-family: Helvetica;
}

.table-source{
  font-size: 12px;
  font-family: Helvetica;
  text-align: right;
}

.label {
  font-size: 18px;
}

.x-axis, .y-axis{
  font-size: 11px;
  font-family: Helvetica;
}
